body {
    font-family: 'Poppins';
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 672px;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #3B404D;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.rute {
    font-family: 'Poppins';
    font-size: 35px;
}

.left-img {
    height: 70px;
    margin-left: 25px;
}

.left-img:hover {
    transform: scale(1.2); 
}

.right-img {
    height: 70px;
    margin-right: 35px;
}

.right-img:hover {
    transform: scale(1.2); 
}

.kotak-kedua {
    height: 112px;
    background-color: #4F535F;  
}

.tampilan {
    display: flex;
    align-items: center;
    height: 100%;
}

.back {
    height: 75px;
    position: absolute;
    left: 20px;
}

.text {
    font-family: 'Poppins';
    font-size: 30px;
    color: white;
    padding-left: 265px;
}

.box {
    background-color: white;
    display: flex;
    height: 378px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 25px;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bis-img {
    width: 74px;
    height: 74px;
    margin-top: 25px;
    margin-left: 25px;
}

.jam-text {
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
    margin-top: 20px;
    margin-left: 25px;
}

.durasi-text {
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
    margin-top: 20px;
    margin-left: 150px;
}

.orang-img {
    width: 68px;
    height: 58px; 
    margin-left: 110px;
    margin-top: -18px;
}

.next-img {
    width: 55px;
    height: 60px;
    margin-top: -15px;
}

.biskecil-img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: -18px;
}

.track {
    background-color: #74AF83;
    color: white;
    height: 35px;
    width: 75px;
    margin-left: 25px;
    margin-top: -10px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Poppins';
}

.info-text {
    font-family: 'Poppins';
    font-size: 20px;
    color: #9B9B9B;
    margin-left: 120px;
}

.orgkecil-img {
    width: 50px;
    height: 40px; 
    margin-left: 112px;
}

.durasijln-text {
    font-family: 'Poppins';
    font-size: 20px;
    color: #9B9B9B;
}

.detail {
    background-color: #3B404D;
    color: white;
    height: 63px;
    width: 500px;
    margin-left: 115px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    margin-top: 18px;
}

.detail-text {
    text-align: left;
}

.harga-text {
    text-align: right;
}

.bg-box {
    background: linear-gradient(to bottom, #FFEEA7, #ACCFB5);
    padding-top: 8px; 
    height: 100%;
}

.peta {
    flex: 1;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.gambar-peta {
    position: absolute;
    top: 0; 
    right: 0; 
    width: 1235px;
    height: 100vh;; 
}

@media (max-width: 675px) {
    body {
        font-family: 'Poppins';
        height: 100%;
    }
    
    .sidebar {
        height: 257;
        width: 100%;
        position: fixed; 
        top: 0;
        left: 0;
        background-color: #3B404D;
        color: white;
        z-index: 10;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
    }
    
    .rute {
        font-family: 'Poppins';
        font-size: 35px;
    }
    
    .left-img {
        height: 70px;
        margin-left: 25px;
    }
    
    .left-img:hover {
        transform: scale(1.2); 
    }
    
    .right-img {
        height: 70px;
        margin-right: 35px;
    }
    
    .right-img:hover {
        transform: scale(1.2); 
    }
    
    .kotak-kedua {
        height: 112px;
        background-color: #4F535F;  
    }
    
    .tampilan {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .back {
        height: 75px;
        position: absolute;
        left: 20px;
    }
    
    .text {
        font-family: 'Poppins';
        font-size: 30px;
        color: white;
        padding-left: 265px;
    }

    .peta {
        flex: 1;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
    }

    .gambar-peta {
        position: absolute;
        top: 253px; 
        width: 100%;
        height: 730px; 
    }
    
    .box {
        background-color: white;
        display: flex;
        height: 378px;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 25px;
        flex-direction: column;
    }
    
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .bis-img {
        width: 74px;
        height: 74px;
        margin-top: 25px;
        margin-left: 25px;
    }
    
    .jam-text {
        font-family: 'Poppins';
        font-size: 30px;
        color: black;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    .durasi-text {
        font-family: 'Poppins';
        font-size: 30px;
        color: black;
        margin-top: 20px;
        margin-left: 150px;
    }
    
    .orang-img {
        width: 68px;
        height: 58px; 
        margin-left: 110px;
        margin-top: -18px;
    }
    
    .next-img {
        width: 55px;
        height: 60px;
        margin-top: -15px;
    }
    
    .biskecil-img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: -18px;
    }
    
    .track {
        background-color: #74AF83;
        color: white;
        height: 35px;
        width: 75px;
        margin-left: 25px;
        margin-top: -10px;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        font-family: 'Poppins';
    }
    
    .info-text {
        font-family: 'Poppins';
        font-size: 20px;
        color: #9B9B9B;
        margin-left: 120px;
    }
    
    .orgkecil-img {
        width: 50px;
        height: 40px; 
        margin-left: 112px;
    }
    
    .durasijln-text {
        font-family: 'Poppins';
        font-size: 20px;
        color: #9B9B9B;
    }
    
    .detail {
        background-color: #3B404D;
        color: white;
        height: 63px;
        width: 500px;
        margin-left: 115px;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        font-family: 'Poppins';
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 25px;
        margin-top: 18px;
    }
    
    .detail-text {
        text-align: left;
    }
    
    .harga-text {
        text-align: right;
    }
    
    .bg-box {
        background: linear-gradient(to bottom, #FFEEA7, #ACCFB5);
        padding-top: 8px; 
        margin-top: 728px;
        height: 900px;
    }   
}
    
@media (max-width: 320px) {
    body {
        font-family: 'Poppins';
        height: 100%;
    }
    
    .sidebar {
        height: 108;
        width: 100%;
        position: fixed; 
        top: 0;
        left: 0;
        background-color: #3B404D;
        color: white;
        z-index: 10;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
    }
    
    .rute {
        font-family: 'Poppins';
        font-size: 18px;
    }
    
    .left-img {
        height: 33px;
        margin-left: 10px;
    }
    
    .left-img:hover {
        transform: scale(1.2); 
    }
    
    .right-img {
        height: 33px;
        margin-right: 15px;
    }
    
    .right-img:hover {
        transform: scale(1.2); 
    }
    
    .kotak-kedua {
        height: 40px;
        background-color: #4F535F;  
    }
    
    .tampilan {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .back {
        height: 35px;
        position: absolute;
        left: 10px;
    }
    
    .text {
        font-family: 'Poppins';
        font-size: 11px;
        color: white;
        padding-left: 135px;
    }
    
    .box {
        background-color: white;
        display: flex;
        height: 159px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
        flex-direction: column;
    }
    
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .bis-img {
        width: 32px;
        height: 32px;
        margin-top: 15px;
        margin-left: 15px;
    }
    
    .jam-text {
        font-family: 'Poppins';
        font-size: 12px;
        color: black;
        margin-top: 15px;
        margin-left: 15px;
    }
    
    .durasi-text {
        font-family: 'Poppins';
        font-size: 12px;
        color: black;
        margin-top: 15px;
        margin-left: 90px;
    }
    
    .orang-img {
        width: 40px;
        height: 30px; 
        margin-left: 50px;
        margin-top: -20px;
    }
    
    .next-img {
        width: 35px;
        height: 40px;
        margin-top: -20px;
        margin-left: -5px;
    }
    
    .biskecil-img {
        width: 23px;
        height: 23px;
        margin-left: 10px;
    }
    
    .track {
        background-color: #74AF83;
        color: white;
        height: 20px;
        width: 40px;
        margin-left: 15px;
        margin-top: -15px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        font-family: 'Poppins';
    }
    
    .info-text {
        font-family: 'Poppins';
        font-size: 10px;
        color: #9B9B9B;
        margin-left: 60px;
        margin-top: -6px;
    }
    
    .orgkecil-img {
        width: 30px;
        height: 20px; 
        margin-left: 50px;
        margin-top: -10px
    }
    
    .durasijln-text {
        font-family: 'Poppins';
        font-size: 10px;
        margin-top: -5px;
        color: #9B9B9B;
    }
    
    .detail {
    background-color: #3B404D;
    color: white;
    width: 220px;
    height: 26;
    margin-left: 55px;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px; 
    box-sizing: border-box;
    margin-top: -3px;
    }
    
    .detail-text {
        text-align: left;
    }
    
    .harga-text {
        text-align: right;
    }
    
    .bg-box {
        background: linear-gradient(to bottom, #FFEEA7, #ACCFB5);
        padding-top: 8px; 
        margin-top: 0px;
        height: 190px;
    }
    
    .peta {
        flex: 1;
        position: relative;
        box-sizing: border-box;
        margin-top: 53px;
    }
    
    .gambar-peta {
        position: absolute;
        width: 100%;
        height: 262px; 
    }
}
